.hero__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 10px;
}

.hero__text {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.hero__link {
cursor: pointer;
}
