.hero__wrapper {
    @media (min-device-width: 569px) and (max-device-width:1025px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        align-items: start;
    }
}

.hero__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 10px;
}

.hero__text {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}

.hero__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;

    @media (min-device-width: 569px) and (max-device-width:1025px) {
        flex-direction: row;
    }

}

.hero__link {
    cursor: pointer;
}

.hero__img {
    display: block;
    margin: 0 auto;

    @media (min-device-width: 569px) and (max-device-width:1025px) {
        width: 330px  !important;
    }

}
