

.section__clients__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (min-device-width: 768px) and (max-device-width:1152px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    @media (min-device-width: 1153px) and (max-device-width:1144px) {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    @media (min-device-width: 1144px)  {
        display: flex;
        flex-wrap: wrap;
    }

}


.section__clients__image {
    width: 130px;
    margin: 0 auto;

    @media (min-device-width: 768px) and (max-device-width:1152px) {
        width: 150px;
    }
    @media (min-device-width: 1153px) and (max-device-width:1144px) {
        width: 200px;
    }
}