.section__boost__wrapper {
    @media screen and (min-width: 480px) {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        gap: 30px;
    }

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        gap: 40px;
    }

    @media screen and (min-width: 1150px) {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 110px; 
    }
}

.section__box {
    display: flex;
    order:  1;
}

.section__wrapper {
    @media screen and (min-width: 480px) {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        gap: 30px;
    }

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        gap: 40px;
    }

    @media screen and (min-width: 1150px) {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 110px; 
    }
}





