.section__clients__image {
    width: 130px;
    margin: 0 auto;
}

.section__clients__wrapper {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;

}