.section__cashback__title {
    margin-bottom: 10px;
    @media (min-device-width: 569px) and (max-device-width:1025px) {
        margin-bottom: 20px;
        text-align: center;
    }
}

.section__cashback__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-device-width: 569px) and (max-device-width:1025px) {
        margin-bottom: 20px;

    }

}

.section__cashback__text {
    text-align: center;
}

.section__cashback__button {
    display: block;
    padding: 14px 71px;
    background: white;

    margin: 0 auto;

    
    border: 1px solid #AAAAAA;
    border-radius: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $textColor;
    & :hover {
        background-color: $hoverColor;
        transition: 250ms;
    } 
    @media (min-device-width: 569px) and (max-device-width:1025px) {
        padding: 15px 40px;

    }
}